---
import ContentWrapper from "../shared/ContentWrapper.astro";
---


<section>
  <ContentWrapper columnFlex gapResponsive>
      <h2>Aktualności</h2>
      <p>Zapraszamy do naszej sekcji projektów, w której prezentujemy kluczowe inicjatywy oraz działania realizowane przez naszą szkołę. To przestrzeń, w której możesz poznać efekty naszej pracy i odkryć, jak wspieramy rozwój uczniów w oparciu o indywidualne potrzeby i potencjał.</p>
  </ContentWrapper>
</section>