---
import ContentWrapper from "../shared/ContentWrapper.astro";
---


<section>
  <ContentWrapper columnFlex gapResponsive>
      <h2>Galeria zdjęć</h2>
      <p>Zapraszamy do naszej galerii, gdzie prezentujemy wybrane realizacje oraz wyjątkowe momenty uchwycone w obiektywie. To przestrzeń, w której możesz zobaczyć efekty naszej pracy i zainspirować się możliwościami, jakie oferujemy.</p>
  </ContentWrapper>
</section>