---
import ContentWrapper from "../shared/ContentWrapper.astro";
---


<section>
  <ContentWrapper columnFlex gapResponsive>
      <h2>Kluby</h2>
      <p>Zapraszamy do sekcji klubów, w której prezentujemy najważniejsze inicjatywy i aktywności realizowane przez nasze Stowarzyszenie. To przestrzeń, w której możesz poznać codzienną pracę naszych klubów i odkryć, jak wspieramy osoby z niepełnosprawnościami w rozwoju, integracji i budowaniu samodzielności – z poszanowaniem ich indywidualnych potrzeb i potencjału.</p>
  </ContentWrapper>
</section>