---
import type { Seo } from "../../sanity.types";
import { mergeSEOData, generateOrganizationSchema } from "../utils/seo";
import Footer from "../components/footer/Footer.astro";
import NavBar from "../components/nav/NavBar.astro";
import "../styles/global.css";
import SEO from "../components/shared/SEO.astro";
import { fetchSiteSettings } from "../api/fetchSiteSettings/query";

interface Props {
  seo?: Seo | null;
  pageTitle?: string | null;
}

const { seo, pageTitle } = Astro.props;

const siteSettings = await fetchSiteSettings();

const currentPath = Astro.url.pathname;

let seoConfig;
let structuredData;

if (siteSettings) {
  seoConfig = mergeSEOData({
    seo,
    siteSettings,
    currentPath: currentPath || Astro.url.pathname,
    pageTitle,
  });

  structuredData = generateOrganizationSchema(siteSettings);
}
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/logo-nawigacja-short.png" />
    <link rel="icon" type="image/png" href="/logo-nawigacja-short.png" />

    {seoConfig && siteSettings ? <SEO seoConfig={seoConfig} siteName={siteSettings.title} /> : <title>Nie z tej bajki</title>}
    {structuredData && <script type="application/ld+json" set:html={JSON.stringify(structuredData)} />}

    
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
      <Footer />
    </main>
  </body>
</html>
